@font-face {
  font-family: "kaushan_scriptregular";
  src: url("./font-kaushan/kaushanscript-regular-webfont.woff2") format("woff2"),
    url("./font-kaushan/kaushanscript-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./font-roboto/RobotoCondensed-BoldItalic-webfont.woff")
    format("woff");
}

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Dancing+Script&family=Loved+by+the+King&family=Oleo+Script&display=swap");

/* Default styles for desktop (PC) */
body::-webkit-scrollbar {
  display: block; /* Show scrollbar on PC */
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: smooth;
}

/* Media query for mobile */
@media (max-width: 1024px) {
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar on mobile */
    scroll-behavior: smooth;
    overscroll-behavior: none; /* Prevent pull-to-refresh on mobile */
  }

  html {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }

  * {
    scroll-behavior: smooth;
    overscroll-behavior: none;
  }
}

@keyframes colorAndPaddingAnimation {
  0%,
  100% {
    opacity: 0; /* Starting background color */
  }
  50% {
    opacity: 1;
    /* Adjust as needed */
  }
}

.animateColorAndPadding {
  animation: colorAndPaddingAnimation 2s forwards;
}

.animateColorAndPadding {
  animation: colorAndPaddingAnimation 0.5s infinite alternate; /* 4s duration to account for the full back-and-forth cycle */
}

.postscroll-light::-webkit-scrollbar {
  width: 0.8vw;
}

.postscroll-light::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.postscroll-light::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45.34deg,
    hsla(212, 13%, 25%, 0.4) 15.66%,
    hsla(204, 14%, 7%, 0.4) 84.35%
  );
}

.postscroll-light::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45.34deg,
    hsla(212, 13%, 25%, 0.37) 15.66%,
    hsla(204, 14%, 7%, 0.37) 84.35%
  );
}

.postscroll-dark::-webkit-scrollbar {
  width: 0.8vw;
}

.postscroll-dark::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.postscroll-dark::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.23) 15.66%,
    hsla(0, 0%, 100%, 0.23) 84.35%
  );
}

.postscroll-dark::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.2) 15.66%,
    hsla(0, 0%, 100%, 0.2) 84.35%
  );
}

.postscroll-darkHiddenScrollRedesign::-webkit-scrollbar {
  width: 0vh;
}

.postscroll-darkHiddenScrollRedesign::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.postscroll-darkHiddenScrollRedesign::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.23) 15.66%,
    hsla(0, 0%, 100%, 0.23) 84.35%
  );
}

.postscroll-darkHiddenScrollRedesign::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.2) 15.66%,
    hsla(0, 0%, 100%, 0.2) 84.35%
  );
}

.postscroll-lightm::-webkit-scrollbar {
  width: 0vw;
}

.postscroll-lightm::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.postscroll-lightm::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45.34deg,
    hsla(212, 13%, 25%, 0.4) 15.66%,
    hsla(204, 14%, 7%, 0.4) 84.35%
  );
}

.postscroll-lightm::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45.34deg,
    hsla(212, 13%, 25%, 0.37) 15.66%,
    hsla(204, 14%, 7%, 0.37) 84.35%
  );
}

.postscroll-darkm::-webkit-scrollbar {
  width: 0vw;
}

.postscroll-darkm::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.postscroll-darkm::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.23) 15.66%,
    hsla(0, 0%, 100%, 0.23) 84.35%
  );
}

.postscroll-darkm::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45.34deg,
    hsla(0, 0%, 100%, 0.2) 15.66%,
    hsla(0, 0%, 100%, 0.2) 84.35%
  );
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgba(120, 120, 120, 0.8) rgba(255, 255, 255, 0);
    scrollbar-width: thin;
  }
}

.your-component .react-colorful {
  height: 240px;
}
.your-component .react-colorful__saturation {
  border-radius: 400px 400px 0 0;
}
.your-component .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 0px 0px;
}
.your-component .react-colorful__hue-pointer {
  width: 50px;
  height: 50px;

  border-radius: 20;
}
